ErrorDocument 404 "<center><img src='https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-512x249-ju1c9yxg.png' style='width: 50%; height: 60%;margin-top:30px;'><h1>Page Not Found : 404</h1></center>"